    <!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}
            <div class="p-5" style="font-size: 1.3em;">
        <span
            {{ stimulus_controller('symfony/ux-typed', {
                strings: [
                    'I ❤️ Symfony UX!',
                    'Symfony UX Typed loves to type',
                    'Symfony UX Typed and backspace',
                    'Control the speed',
                    'Control the cursor',
                    'Control your destiny!!!',
                    'Control your destiny... sort of',
                ],
                loop: true,
                showCursor: true,
                cursorChar: '✨',
            }) }}
        ></span>
            </div>

        {% endblock %}
    </body>
</html>